:root {
  --Very-Dark-Blue: hsl(243, 87%, 12%);
  --Desaturated-Blue: hsl(238, 22%, 44%);
  --Bright-Blue: hsl(224, 93%, 58%);
  --Moderate-Cyan: hsl(170, 45%, 43%);
  --Light-Grayish-Blue: hsl(240, 75%, 98%);
  --Light-Gray: hsl(0, 0%, 75%); }

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  box-sizing: inherit; }

.nav-bar_hamburger {
  display: none; }
  @media (max-width: 36.25em) {
    .nav-bar_hamburger {
      display: block; } }

.nav-bar_logo {
  margin-right: auto; }

.nav-bar_logo:hover {
  cursor: pointer; }

.nav-bar_ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 17rem; }
  @media (max-width: 36.25em) {
    .nav-bar_ul {
      display: none; } }

.nav-bar_link:link, .nav-bar_link:visited {
  text-decoration: none;
  color: var(--Very-Dark-Blue);
  font-family: 'Raleway', sans-serif;
  transition: .3s all; }

.nav-bar_link:hover {
  color: rgba(7, 4, 57, 0.67); }

.nav-bar_link:link:hover, .nav-bar_link:visited:hover {
  cursor: pointer; }

.text-box {
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
  flex: 1; }
  .text-box_h-1 {
    font-family: 'Raleway', sans-serif;
    color: var(--Very-Dark-Blue);
    font-size: clamp(1.9rem, 3vw, 2.5rem);
    line-height: 1.5;
    margin-bottom: 1rem; }
    @media (max-width: 32.5em) {
      .text-box_h-1 {
        text-align: center;
        font-size: clamp(1.7rem, 3vw, 1.9rem); } }
  .text-box_p {
    font-family: 'Raleway', sans-serif;
    color: var(--Very-Dark-Blue);
    font-size: clamp(0.8rem, 1.2vw, 1.1rem);
    line-height: 1.3;
    margin-bottom: 1rem;
    width: 85%; }
    @media (max-width: 32.5em) {
      .text-box_p {
        text-align: center;
        font-size: clamp(0.7rem, 1.2vw, 0.8rem);
        align-self: center; } }

.action {
  display: flex;
  width: 78%; }
  @media (max-width: 32.5em) {
    .action {
      align-self: center; } }
  .action_input {
    flex: 1.5;
    margin-right: 1rem;
    padding-left: 1rem;
    color: var(--Light-Gray);
    outline: none;
    border: 1px solid var(--Light-Gray);
    border-radius: 10px; }
  .action_btn {
    flex: 1;
    padding: 0.7rem 0 0.7rem 0;
    border: none;
    background-color: var(--Bright-Blue);
    color: #fff;
    font-weight: 700;
    border-radius: 10px;
    transition: .3s all; }
    @media (max-width: 25em) {
      .action_btn {
        font-size: clamp(0.55rem, 2vw, 1.8rem); } }
  .action_btn:hover {
    cursor: pointer;
    opacity: 70%; }
  .action_btn:hover {
    cursor: pointer; }

.photo-1 {
  flex: 1; }
  @media (max-width: 62.5rem) {
    .photo-1 {
      align-self: center; } }
  .photo-1_img {
    width: 100%;
    height: 25rem; }
    @media (max-width: 62.5em) {
      .photo-1_img {
        width: clamp(15rem, 48vw, 48vw);
        height: clamp(10rem, 30vw, 32vw);
        font-size: 0;
        margin-bottom: 2rem; } }

.main_text-box {
  flex: 1;
  padding-top: 1rem;
  font-family: 'Open Sans', sans-serif; }
  @media (max-width: 62.5em) {
    .main_text-box {
      width: 100%; } }
  @media (max-width: 27.5em) {
    .main_text-box {
      display: flex;
      flex-direction: column;
      align-items: center; } }

.main_h-1 {
  color: var(--Very-Dark-Blue);
  margin-bottom: 2rem;
  font-size: clamp(1.7rem, 2.5vw, 2.3rem); }
  @media (max-width: 27.5em) {
    .main_h-1 {
      text-align: center; } }

.main_p-1 {
  color: var(--Very-Dark-Blue);
  margin-bottom: 1rem;
  font-size: clamp(0.8rem, 1.05vw, 0.85rem);
  line-height: 1.5;
  width: 71%; }

.main_p-2 {
  color: var(--Very-Dark-Blue);
  margin-bottom: 1rem;
  font-size: clamp(0.8rem, 1.05vw, 0.85rem);
  line-height: 1.5;
  width: 71%; }

.active {
  display: flex;
  align-items: center;
  width: max-content;
  border-bottom: 1px solid var(--Moderate-Cyan);
  padding-bottom: 0.1rem;
  margin-bottom: 4rem;
  transition: .3s all; }
  .active_p {
    margin-right: 0.5rem;
    color: var(--Moderate-Cyan);
    transition: .4s all; }
  .active_p:hover {
    margin-right: 0.7rem;
    transform: translateY(-0.1rem); }

.active:hover {
  cursor: pointer;
  opacity: 70%; }

.card {
  background-color: #fff;
  box-shadow: 0.2em 0.4em 0.8em #bfbfbf;
  width: 25rem;
  padding: 2rem; }
  @media (max-width: 27.5em) {
    .card {
      width: 80vw;
      align-self: center; } }
  .card_img {
    height: 1.2rem; }
  .card_p {
    font-size: clamp(0.7rem, 2vw, 1rem);
    line-height: 1.8; }
    @media (max-width: 27.5em) {
      .card_p {
        font-size: 60%; } }
  .card_info-box {
    display: flex;
    margin-top: 1rem; }
  .card_avatar {
    height: 2.5rem;
    border-radius: 50px;
    margin-right: 0.5rem; }
  .card_p-1 {
    font-weight: bold;
    font-size: 0.8rem; }
  .card_p-2 {
    color: var(--Very-Dark-Blue);
    font-size: 0.7rem; }

.card:hover {
  cursor: pointer; }

.photo-2 {
  flex: 1; }
  .photo-2_img {
    width: 100%;
    height: 30rem; }
    @media (max-width: 62.5em) {
      .photo-2_img {
        width: clamp(15rem, 55vw, 57vw);
        height: clamp(10rem, 30vw, 32vw);
        margin-bottom: 3rem; } }

.acces_text {
  flex: 1;
  font-family: 'Open Sans', sans-serif; }

.acces_h-1 {
  margin-bottom: 1rem;
  color: var(--Light-Grayish-Blue);
  font-size: 1.8rem; }
  @media (max-width: 62.5em) {
    .acces_h-1 {
      text-align: center;
      margin-top: 2rem; } }

.acces_p {
  width: 70%;
  font-size: 0.9rem;
  line-height: 1.5;
  color: var(--Light-Grayish-Blue); }
  @media (max-width: 62.5em) {
    .acces_p {
      text-align: center;
      width: 100%;
      margin-bottom: 2rem; } }

.action-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  padding-left: 10rem; }
  @media (max-width: 62.5em) {
    .action-field {
      align-items: center;
      justify-content: center;
      padding-left: 0;
      padding-bottom: 2.5rem; } }
  .action-field_input {
    margin-bottom: 0.9rem;
    width: 25rem;
    padding: 0.7rem 0.8rem;
    border-radius: 5px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.119);
    color: var(--Light-Gray); }
    @media (max-width: 31.25em) {
      .action-field_input {
        width: 60vw;
        margin-top: 2rem; } }
  .action-field_btn {
    padding: 0.8rem  1.2rem;
    border: none;
    background-color: var(--Bright-Blue);
    color: #fff;
    font-weight: 700;
    border-radius: 5px;
    transition: .3s all; }
    @media (max-width: 31.25em) {
      .action-field_btn {
        padding: 0.6rem  0.9rem;
        font-size: 60%; } }
  .action-field_btn:hover {
    background-color: #5884fd;
    cursor: pointer; }

@media (max-width: 44em) {
  .contact {
    padding-top: 2rem; } }

.contact_logo {
  margin-bottom: 1rem; }

.contact_phone-box, .contact_email-box {
  display: flex;
  align-items: center;
  margin-bottom: 1rem; }

.contact_mobile-icon, .contact_email-icon {
  margin-right: 0.7rem;
  height: 0.8rem; }

.contact_phone-p, .contact_email-p {
  color: var(--Light-Gray);
  font-size: 0.85rem; }

.nav-1_ul {
  padding-top: 7.7rem;
  list-style: none; }
  @media (max-width: 44em) {
    .nav-1_ul {
      padding-top: 2rem; } }

.nav-1_li {
  margin-bottom: 0.8rem; }

.nav-1_link:link, .nav-1_link:visited {
  color: var(--Light-Gray);
  font-size: 0.85rem;
  text-decoration: none;
  transition: .3s all; }

.nav-1_link:link:hover, .nav-1_link:visited:hover {
  color: var(--Desaturated-Blue); }

.nav-2_ul {
  padding-top: 5.8rem;
  list-style: none; }
  @media (max-width: 44em) {
    .nav-2_ul {
      padding-top: 2rem; } }

.nav-2_li {
  margin-bottom: 0.85rem; }

.nav-2_link:link, .nav-2_link:visited {
  color: var(--Light-Gray);
  font-size: 0.85rem;
  text-decoration: none;
  transition: .3s all; }

.nav-2_link:link:hover, .nav-2_link:visited:hover {
  color: var(--Desaturated-Blue); }

.icons {
  margin-right: 10rem;
  padding-top: 1rem; }
  @media (max-width: 44em) {
    .icons {
      padding: 2rem 0;
      margin-right: 2rem; } }
  .icons_icon {
    margin-left: 1rem; }
  .icons_icon:hover {
    cursor: pointer; }

.nav-bar {
  max-width: 1440px;
  margin: 1rem auto 4rem auto;
  min-height: 5rem;
  display: flex;
  align-items: center;
  padding: 0 4vw; }

.header {
  display: flex;
  max-width: 1440px;
  margin: 1rem auto 4rem auto;
  padding: 0 4vw;
  min-height: 60vh; }
  @media (max-width: 62.5em) {
    .header {
      flex-direction: column-reverse;
      align-items: center; } }

.main-bcgi {
  min-height: 7.2rem;
  background: url(/images/bg-curve-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  max-width: 1440px;
  margin: 0 auto; }

.main {
  background-color: var(--Light-Grayish-Blue);
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 4vw 7rem 4vw;
  min-height: 60vh; }
  @media (max-width: 62.5em) {
    .main {
      flex-direction: column-reverse;
      align-items: center; } }

.acces {
  display: flex;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 4vw;
  min-height: 35vh;
  background-color: var(--Desaturated-Blue); }
  @media (max-width: 62.5em) {
    .acces {
      flex-direction: column; } }

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 4vw;
  min-height: 45vh;
  background-color: var(--Very-Dark-Blue); }
  @media (max-width: 44em) {
    .footer {
      flex-direction: column; } }
